# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FamilyManagerAssignment.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Constantin Mihail\RiderProjects\FamilyManagerAssignment\.idea\.idea.FamilyManagerAssignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
