@page "/AddAdult"
@using Models
@using System.Net.Http.Json
@using System.Text
@using System.Text.Json
@using FamilyManagerAssignment.Services
@using FamilyManagerAssignment.Services.Implementation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<h1>New Adult Form</h1>
    <EditForm Model="@adult"  OnValidSubmit="@AddAdultsAsync">
        <DataAnnotationsValidator />
        <ValidationSummary/>
        <p>
            <label>
                Id:
                <InputNumber @bind-Value="person.Id"/>
            </label>
        </p>
        <p>
            <label>
                FirstName:
                <InputText @bind-Value="person.FirstName"/>
            </label>
        </p>
        <p>
            <label>
                LastName:
                <InputText @bind-Value="person.LastName"/>
            </label>
        </p>
        <p>
            <label>
                Hair Colour:
                <InputText @bind-Value="person.HairColor"/>
            </label>
        </p>
        <p>
            <label>
                Eye Colour:
                <InputText @bind-Value="person.EyeColor"/>
            </label>
        </p>
        <p>
            <label>
                Age
                <InputNumber @bind-Value="person.Age"/>
            </label>
        </p>
        <p>
            <label>
                Height
                <InputNumber @bind-Value="person.Height"/>
            </label>
        </p>
        <p>
            <label>
                Weight
                <InputNumber @bind-Value="person.Weight"/>
            </label>
        </p>
        <p>
            <label>
                Sex
                <InputText @bind-Value="person.Sex"/>
            </label>
        </p>
        <p>
            <label>
                Job Title
                <InputText @bind-Value="job.JobTitle"/>
            </label>
        </p>
        <p>
            <label>
                Salary
                <InputNumber @bind-Value="job.Salary"/>
            </label>
        </p>
        <button type="submit">Submit</button>
    </EditForm>
    

@code {
    private Person person = new Person();
    private Adult adult = new Adult();
    private Job job = new Job();
    IAdultConnection adultConnection = new AdultConnectionImpl();
    private async Task AddAdultsAsync()
    {
        adult.AdultJob = job;
        adult.Id = person.Id;
        adult.Persona = person;
        string adultAsJson = JsonSerializer.Serialize(adult);
        HttpResponseMessage response = await adultConnection.addAdultAsync(adultAsJson);
        if (!response.IsSuccessStatusCode)
            throw new Exception($"Error: {response.StatusCode},{response.ReasonPhrase}");
        NavigationManager.NavigateTo("/");
    }

}