@page "/AddAdult"
@using Models
@using System.Net.Http.Json
@using System.Text
@using System.Text.Json
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<h1>New Adult Form</h1>
    <EditForm Model="@adult"  OnValidSubmit="@AddAdults">
        <DataAnnotationsValidator />
        <ValidationSummary/>
        <p>
            <label>
                Id:
                <InputNumber @bind-Value="adult.Id"/>
            </label>
        </p>
        <p>
            <label>
                FirstName:
                <InputText @bind-Value="adult.FirstName"/>
            </label>
        </p>
        <p>
            <label>
                LastName:
                <InputText @bind-Value="adult.LastName"/>
            </label>
        </p>
        <p>
            <label>
                Hair Colour:
                <InputText @bind-Value="adult.HairColor"/>
            </label>
        </p>
        <p>
            <label>
                Eye Colour:
                <InputText @bind-Value="adult.EyeColor"/>
            </label>
        </p>
        <p>
            <label>
                Age
                <InputNumber @bind-Value="adult.Age"/>
            </label>
        </p>
        <p>
            <label>
                Height
                <InputNumber @bind-Value="adult.Height"/>
            </label>
        </p>
        <p>
            <label>
                Weight
                <InputNumber @bind-Value="adult.Weight"/>
            </label>
        </p>
        <p>
            <label>
                Sex
                <InputText @bind-Value="adult.Sex"/>
            </label>
        </p>
        <p>
            <label>
                Job Title
                <InputText @bind-Value="job.JobTitle"/>
            </label>
        </p>
        <p>
            <label>
                Salary
                <InputNumber @bind-Value="job.Salary"/>
            </label>
        </p>
        <button type="submit">Submit</button>
    </EditForm>
    

@code {
    readonly Adult adult = new Adult();
    readonly Job job = new Job();
    readonly string apiUrl = @"http://localhost:5001/Adult";
    readonly HttpClient client = new HttpClient();
    private async Task AddAdults()
    {
        adult.JobTitle = job;
        string adultAsJson = JsonSerializer.Serialize(adult);
        StringContent content = new StringContent(adultAsJson, Encoding.UTF8, "application/json");
        HttpResponseMessage response = await client.PostAsync(apiUrl, content);
        if (!response.IsSuccessStatusCode)
            throw new Exception($"Error: {response.StatusCode},{response.ReasonPhrase}");
        NavigationManager.NavigateTo("/");
    }

}