@page "/Register"
@using FamilyManagerAssignment.Services.Implementation
@using FamilyManagerAssignment.Services
@using Models
@using System.Text.Json

@inject NavigationManager NavigationManager

<h3>Register</h3>

    <p>
        <label>
            UserName
            <input type="text" @bind-value="username"/>
        </label>
    </p>
    <p>
        <label>
            Password
            <input type="password" @bind-value="password"/>
        </label>
    </p>
<p><a href="" @onclick="PerformRegisterAsync">
               Register
           </a></p>

@code {
    private string username;
    private string password;
    private IUserConnection userConnection = new UserConnectionImpl();


    private async Task PerformRegisterAsync()
    {
        User user = new User();
        user.UserName = username;
        user.Password = password;
        user.Role = "Adult";
        string userAsJson = JsonSerializer.Serialize(user);
        HttpResponseMessage response = await userConnection.registerUserAsync(userAsJson);
        if (response.IsSuccessStatusCode)
            NavigationManager.NavigateTo("Login");
        
    }

}